# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache directories
server/.env

# ignore all .js of the server folder
server/**/*.js
!server/**/*.config.js
!server/**/*.config.ts
!server/**/*.config.mjs
!server/**/*.config.cjs